<%= form_for(@doger) do |f| %>
  <% if @doger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doger.errors.count, "error") %> prohibited this doger from being saved:</h2>

      <ul>
      <% @doger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :awesome %><br>
    <%= f.number_field :awesome %>
  </div>
  <div class="field">
    <%= f.label :wow_factor %><br>
    <%= f.text_field :wow_factor %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
